//
//  Development.xcconfig
//  CryptoList
//
//  Created by Martin Dimitrov on 1.02.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CRYPTOLIST_COINPAPRIKA_BASE_URL = https:/$()/api.coinpaprika.com/v1
CRYPTOLIST_COINRANKING_BASE_URL = https:/$()/api.coinranking.com/v2
